@font-face {
    font-family: 'Kodchasan';
    src: url(../Fonts/Kodchasan-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Kodchasan';
    src: url(../Fonts/Kodchasan-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Kodchasan';
    src: url(../Fonts/Kodchasan-SemiBold.ttf);
    font-weight: 700;
}